<div class="jumbotron center">
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h1 class="panel-title"> Contact us </h1>
    </div>
          
    <div class="panel-body">
			<p>hello@arthurcolle.com</p> 
		</div>
	</div>
</div>



