<div class="container">
	<div class="panel panel-default">
		<div class="panel-header container">
			<% if current_user %>
				<h1>New transfer by <%= current_user.name.titleize %></h1>
			<% else %>
				<h1> New transfer </h1>
			<% end %>
		</div>

		<div class="panel-body">
			<%= render 'form' %>
		</div>
		
		<div class="panel-footer">
			<%= link_to 'Back', transfers_path %>
		</div>
	</div>
</div>